/*
html{
  border: 3px solid blue;
}

.container{
  border: 3px solid red;
}

nav{
  border: 2px solid yellow;
}
*/

nav ul{
  list-style: none;
}

nav li {
   display: inline-block;
   margin: 1.5em
}

nav a {
  font-weight: normal;
  padding: 2em;
  font-size: .80em;
}

#carouselExampleIndicators ol li{
  width: 0.5em;
  height: 0.5em;
}

.carousel-indicators li{
   border-radius: 100%;
}

/*------------RESUME------------*/

.resume .container{
  max-width: 80%;
  background-color: yellow;
}
