/**
 * index.scss
 * - Add any styles you want here!
 */

 body {

       /* max-width: belangrijk element in de mobile-first aanpak! */
       max-width: 50em;
       margin: 2em auto;
       line-height: 1.5em;
       padding: 0 1em;
 }

nav {
       display: flex;
       justify-content: space-between;
       width: 75%;
       margin-bottom: 2em;
 }
