nav ul{
  list-style: none;
  margin-top: 1em;
}

nav li {
   display: inline-block;
}

nav a {
  font-weight: normal;
  padding: 1em;
  font-size: .80em;
  color: black;
}

#carouselExampleIndicators ol li{
  width: 0.5em;
  height: 0.5em;
}

.carousel-indicators li{
   border-radius: 100%;
}

.carousel-inner{
  height: 500px;
}

/*------------------------*/
